<div class="container">
  <div class="row col">
    <h1>Editor</h1>
  </div>
  <div *ngIf="!loading else progress" class="row">
    <form #fileForm="ngForm">
      <div class="form-group">
        <input ngModel
               required
               #fileInput
               #fileModel="ngModel"
               type="file"
               id="image"
               name="image"
               accept="image/png">
      </div>
      <button [disabled]="fileModel.control.invalid"
              (click)="uploadImage(fileInput)"
              type="button" class="btn btn-primary">Upload Image
      </button>
    </form>
  </div>
</div>

<ng-template #progress>
  <div class="row">
    <h2>Uploading...</h2>
  </div>
</ng-template>
