<div class="container">

  <div class="row col">
    <h1>Editor</h1>
  </div>
  <div *ngIf="!loading else progress" class="row col mb-5">
    <form #fileForm="ngForm">
      <div class="form-group">
        <input ngModel
               required
               #fileInput
               #fileModel="ngModel"
               type="file"
               id="image"
               name="image"
               accept="image/png">
      </div>
      <button [disabled]="fileModel.control.invalid"
              (click)="upload(fileInput)"
              type="button" class="btn btn-primary">Upload Image
      </button>
    </form>
  </div>
  <table class="table">
    <tr *ngFor="let item of list | async">
      <td><img width="100" [src]="item.url"/></td>
      <td>{{ item.createdAt | date:'short' }}</td>
      <td>
      {{ item | json }}
      </td>
      <td><button class="btn btn-warning" (click)="delete(item)">DELETE</button></td>
    </tr>
  </table>
</div>

<ng-template #progress>
  <div class="row col mb-5">
    <h2>Uploading...</h2>
  </div>
</ng-template>
